<div class="row">
    <div class="col-md-12">
        <div *ngIf="error" class="alert alert-danger fadeIn" role="alert">
            Oh No... Something went wrong, try again later!
        </div>
        <div *ngIf="players && (players | searchFilter: search).length === 0" class="alert alert-info fadeIn" role="alert">
            Woops, no matches found!
        </div>
        <div class="btn-group wow fadeIn">     
            <input [hidden]="error" autofocus="autofocus" [(ngModel)]="search" name="search" type="text" class="form-control" id="search" placeholder="Filter by player name">
            <span *ngIf="search.length > 0" id="searchclear" (click)="clearSearch()" class="fa fa-window-close"></span>
        </div>
    </div>

    <div *ngFor="let item of (players | searchFilter: search | sort:'fullName')" class="col-md-6 py-1">
        <div class="card wow fadeIn">
            <h4 class="card-header bg-warning text-white">{{item.fullName}} ({{item.uniformNumber}})</h4>
            <div class="card-body">
                <p class="card-text">Weight: {{item.weight}}</p>
                <p class="card-text">Height: {{item.height}}</p>
                <p class="card-text">Birthday: {{item.birthDate}}</p>
                <p class="card-text">Position: {{item.position}}</p>
                <p class="card-text">Status: {{item.status}}</p>
                <p class="card-text">College: {{item.college}}</p>
                <a href="{{item.profileUrl}}" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>  
</div>