<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron bg-success text-white wow fadeIn">
                <h1 class="display-3">Hello, Cheese Head Fans! </h1>
                <p class="lead">Welcome to Green Bay Packers lineup!</p>
                <hr class="my-4">
                <p>Below you will find all of the Green Bay Packer players, use a search text box to narrow down your selection</p>
            </div>   
        </div>     
  
        <div class="col-md-12">
            <players></players>
        </div>
    </div>
</div>